<%- include ('partials/head') %>
<%- include ('partials/navbar') %>

<div class="container landing-page"> 
     <h3>Chest exercises</h3>
      <br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <% for (let i = 0; i < data.length; i += 1) { %> 
              <td><%= data[i].id %></a></td>
              <td><%= data[i].name %></td>
            </tr>
                <% } %>
          </table>
        </div>
      </div>
<%- include ('partials/footer') %>