<%- include('partials/head') %>
<%- include('partials/navbar') %>




  
  <h2>Input exercises into workout <%= id %> </h2>
  <p>Tell us what you did!</p>
  <div class="row justify-content-center align-items-center" style="height: 80vh">
    <div class="col-12 col-md-10">
      <form class="entry-form-container" action="/workoutCreation/<%= id %> " method="POST" >
        <div class="row">
            <div class="col-md-4">
              <label for="workouts_id">Exercise: </label>
              <select class="form-control" name="exercises_id" id="exercises_id">
                <% workouts.forEach((type) => { %>
                  <option value="<%= type.id %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
        </div>
        <div class="row">
          <div class="form-group">
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">Reps: </label>
                <input class="form-control" name="reps" id="reps">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">Weight(kg): </label>
                <input class="form-control" name="weight" id="weight">
              </div>
            </div>
    


        
  
  
        <br><br>
        <button type="submit" class="btn btn-secondary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>